/* .shit:hover{
    width: 100px;
    height: 100px;
} */

.WrapDragger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.DraggerLayout {
    -webkit-transition: all .15s;
    transition: all .15s;
}

body {
    background: white;
}

.normal-layout {
    background: #d9d9d9;
}

.layout-item {
    background: white;
    height: 100%;
}

.layout-item:hover {
    cursor: -webkit-grab;
}